@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Use the .dark class to apply dark mode variables */
:root:has(.dark),
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-heading: var(--font-montserrat);
}

@variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
